@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: "Roboto Regular";
}

a {
    text-decoration: none;
    padding: 1rem;
    color: black;
}

li {
    list-style: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

h3 {
    margin: 1rem;
}

p {
    margin: 1rem;
}

ul { 
    display: flex;
    justify-content: center;
}

/* DEBUT HEADER */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav :not(:last-child) {
    border-right: solid 1px black;
}
/* FIN HEADER */

/* DEBUT MAIN / DEBUT HERO */
.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.img {
    width: 50%;
}
/* MAIN / FIN HERO */

/* MAIN / DEBUT SURVIVEZ */
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.survivez {
    text-align: center;
}

.btn-plus {
    width: 10%;
    padding: 7px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
}
/* MAIN / FIN SURVIVEZ */

/* MAIN / DEBUT ACTUALITES */
.maj {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.actuality {
    width: 20%;
    background-color: rgb(44, 40, 40);
    color: white;
    
}
.actualities {
    padding: 2rem;
}
.img-actuality{
    width: 100%;
}
/* MAIN / FIN ACTUALITES */

/* MAIN / DEBUT NEWLETTER */
.newsletter {
    padding: 2rem;
    background-color: rgb(44, 40, 40);
    color: white;
}

.mail {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btnmail {
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 7px;
}
/* MAIN / FIN NEWLETTER */

/* DEBUT FOOTER */
footer {
    padding: 1rem;
    background-color: black ;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logofooter {
    width: 12rem; 
}

.menu a {
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.menu :not(:last-child) {
    border-right: solid 1px white;
}
/* FIN FOOTER */


