@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: "Roboto";
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

h3 {
    margin: 1rem;
}

ul { 
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    text-align: center;
}

p {
    margin: 1rem;
}

a {
    text-decoration: none;
    padding: 1rem;
    color: black;
}

/* DEBUT HEADER */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav :not(:last-child) {
    border-right: solid 1px black;
}
/* FIN HEADER */

/* DEBUT MAIN / DEBUT HERO */
.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.img {
    width: 50%;
}
/* MAIN / FIN HERO */

/* MAIN / DEBUT SURVIVEZ */
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.survivez {
    text-align: center;
}

.btn-plus {
    display: inline-block;
    padding: 7px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
}
/* MAIN / FIN SURVIVEZ */

/* MAIN / DEBUT ACTUALITES */
.maj {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.actuality {
    width: 20%;
    background-color: rgb(44, 40, 40);
    color: white;
    
}
.actualities {
    padding: 2rem;
}
.img-actuality{
    width: 100%;
}
/* MAIN / FIN ACTUALITES */

/* MAIN / DEBUT NEWLETTER */
.newsletter {
    padding: 2rem;
    background-color: rgb(44, 40, 40);
    color: white;
}

.mail {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-mail {
    border: 0;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 7px;
}
/* MAIN / FIN NEWLETTER */

/* DEBUT FOOTER */
footer {
    padding: 1rem;
    background-color: black ;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    width: 12rem; 
}

.menu a {
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.menu :not(:last-child) {
    border-right: solid 1px white;
}
/* FIN FOOTER */

/* RESPONSIVE TABLETTE */

@media screen and (max-width: 760px) {

/* DEBUT HERO */
    .banner {
        height: 35vh;
    }
/* DEBUT ACTUALITE */
    .maj {
        flex-direction: column;
    }
    .actuality {
        width: 100%;
    }
/* FIN ACTUALITE */

/* DEBUT FOOTER */
    .menu {
        flex-direction: column;
        text-align: center;   
    }
}

/* RESPONSIVE TELEPHONE */

@media screen and (max-width: 440px) {
/* DEBUT HEADER */
    ul { 
        flex-direction: column;
    }
/* FIN HEADER */

/* DEBUT FOOTER */
    .menu {
        flex-direction: column;
    }
    .nav :not(:last-child) {
        border-right: none;
    }
/* FIN FOOTER */
}

